<?xml version="1.0" ?>
<model>
  <name>landing_pad</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>FIRA Air Simulation</name>
  </author>
  <description>
    Landing pad with blue H symbol for FIRA Air competition.
    Dimensions: 1m x 1m
  </description>
</model>
